*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

img {
 width: 100%;
}

/*  3. Allow percentage-based heights in the application*/
html,
body {
 height: 100%;
 hanging-punctuation: first last;
}

input {
 width: 100%;
}

input[type='color'] {
 width: 3em;
 height: 2em;
}

/*  Typographic tweaks!  4. Add accessible line-height  5. Improve text rendering*/
body {
 line-height: 1.4;
 -webkit-font-smoothing: antialiased;
 overflow-x: hidden;
 font-family: var(--ff1);
 background: linear-gradient(to bottom, #fffaeacd, #fffaea);
}

/*  6. Improve media defaults*/
img,
picture,
video,
canvas,
svg {
 display: block;
 max-width: 100%;
 height: auto;
 vertical-align: middle;
 font-style: italic;
}

/*  7. Remove built-in form typography styles*/
input,
button,
textarea,
select {
 font: inherit;
}

textarea {
 resize: vertical;
 form-sizing: content;
 max-height: 5em;
}

button {
 all: unset;
 cursor: pointer;
}

/*  8. Avoid text overflows*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
 /* overflow-wrap: break-word; */
 /* text-wrap: balance; */
 font-family: var(--ff1);
 font-weight: normal;
 line-height: 1.2;
}

p {
 /* text-wrap: pretty; */
 font-family: var(--ff2);
 line-height: 1.4;
}

/*  9. Create a root stacking context*/
#root,
#__next {
 isolation: isolate;
}

@media (prefers-reduced-motion:no-preference) {

 :has(:target),
 :root {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
 }
}

a {
 text-decoration: none;
 color: inherit;
}

li {
 list-style: none;
}

:root {
 --color-white: #fff;
 --color-black: #000;
 --color-clima-primary: #58C8F4;
 --color-clima-bg: #4C6873;
 --color-clima-light: #A0DBF2;
 --color-clima-accent: #295E73;
 --color-clima-extra: #7EADBF;
 /* Azul */
 --color-azul-900: #053345;
 --color-azul-800: #09668A;
 --color-azul-700: #0E99D0;
 --color-azul-600: #35BDF2;
 --color-azul-500: #58C8F4;
 --color-azul-400: #6BCEF5;
 --color-azul-300: #7DD4F6;
 --color-azul-200: #A2E0F9;
 --color-azul-100: #C7EDFB;
 --color-azul-50: #DAF3FD;
 /* Neutro */
 --color-neutro-bgDark: #152129;
 --color-neutro-title2: #1C2B36;
 --color-neutro-title: #273B49;
 --color-neutro-text: #687782;
 --color-neutro-light: #8E9BA4;
 --color-neutro-lighter: #B7C0C7;
 --color-neutro-border: #ECF0F3;
 --color-neutro-bgAlt: #F9FAFB;
 --color-neutro-bg: #FBFDFE;
 /* Diseno */
 --borde-radius: 8px;
 --borde-radius-s: 4px;
 /* Fonts */
 --ff1: "ADLaM Display", system-ui;
 --ff2: "Afacad", sans-serif;
 --fzbig: 61px;
 --fzxxl: 49px;
 --fzxl: 39px;
 --fzx: 31px;
 --fzl: 25px;
 --fzm: 21px;
 --fznormal: 16px;
 /* slider */
 --image_thumb-sun: url('../images/sun.jpg');
 --image_thumb-clouds: url('../images/clouds.jpg');
 --image_thumb-rain: url('../images/rain.jpg');
 --image_thumb-little_rain: url('../images/little_rain.jpg');
 --image_thumb-storm: url('../images/storm.jpg');
 --image_thumb-snow: url('../images/snow.jpg');
 --image_thumb: var(--image_thumb-sun);
}

.sun {
 --image_thumb: var(--image_thumb-sun);
}

.rain {
 --image_thumb: var(--image_thumb-rain);
}

.clouds {
 --image_thumb: var(--image_thumb-clouds);
}

.little_rain {
 --image_thumb: var(--image_thumb-little_rain);
}

.storm {
 --image_thumb: var(--image_thumb-storm);
}

.snow {
 --image_thumb: var(--image_thumb-snow);
}

.textShadow {
 text-shadow: 4px 4px 8px #05334565;
}

.noPc {
 @media screen and (min-width: 768px) {
  display: none !important;
 }
}

.noMobile {
 @media screen and (max-width: 768px) {
  display: none !important;
 }
}

.container-pcL {
 width: min(90%, 1500px);
 margin-inline: auto;
}

.socialMedia {
 display: flex;
 justify-content: center;
 gap: 16px;
 animation: fadeLeft .5s ease-in-out forwards;

 .socialMedia__icon {
  background-color: var(--color-azul-900);
  padding: 11px;
  border-radius: var(--borde-radius);
 }

 img {
  width: 17px;
  aspect-ratio: 1/1;
 }
}

.btn {
 display: flex;
 gap: 12px;
 width: max-content;
 justify-content: center;
 align-items: center;
 border-radius: var(--borde-radius-s);
 background-color: var(--color-azul-800);
 color: var(--color-white);
 font-family: var(--ff2);
 padding-block: 8px;
 padding-inline: 24px;
 font-size: var(--fznormal);
 font-weight: 500;
 opacity: 0;
 animation: fadeLeft .5s .75s ease-in-out forwards;
 transition: background-color .3s ease-in-out;

 &::before {
  content: url('../icons/Sun.svg');
  vertical-align: middle;
  margin-top: .3em;
  /* margin-left: 6px; */
 }

 &::after {
  content: url('../icons/ArrowWhite.svg');
  vertical-align: middle;
  margin-top: .3em;
  /* margin-left: 6px; */
 }

 &:hover {
  background-color: var(--color-azul-900);
 }
}

/* /------------------------------------------------ */
/* #region //* mainNav */
.mainNav {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 2;
 height: clamp(80px, 5vw + .5rem, 100px);
 /* background: color-mix(in srgb, var(--color-azul-300) 30%, transparent); */
 backdrop-filter: blur(9px);
 -webkit-backdrop-filter: blur(9px);
 font-family: var(--ff2);
 font-size: clamp(20px, 2vw + .5rem, 20px);
 font-weight: 600;
 color: var(--color-azul-900);
 text-transform: uppercase;
}

.mainNav__mobile {
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 padding-inline: 25px;
 background-color: var(--color-azul-900);
}

.mainNav__hamburger {
 width: 25px;
}

.mainNav__list {
 display: flex;
 gap: 90px;
 justify-content: center;
 align-items: center;

 @media screen and (max-width: 768px) {
  display: none;
  padding: 100px 48px;
  justify-content: start;
  /* justify-content: center; */
  align-items: start;
  position: absolute;
  z-index: 100;
  top: 80px;
  right: 0;
  width: 80%;
  background: var(--color-clima-bg);
  flex-direction: column;
  height: calc(100dvh - 80px);
  color: white;
  gap: 24px;
  /* translate: 100%; */
  /* transition: translate .3s ease-in-out; */
 }

 .socialMedia {
  /* align-self: flex-end; */
  justify-self: flex-end;
 }

 &.show_mainNav__list {
  display: flex;
  /* translate: 0px; */
 }
}

.mainNav__item {
 display: flex;
 align-items: center;

 a {
  /* height: inherit; */
 }
}

.mainNav__logo {
 height: 100px;
 /* display: none; */
}

/* #endregion //! mainNav */
/*------------------------------------------------*/
/* #region //* header */
.header {
 position: relative;
 z-index: 1;
 min-height: 100dvh;
 background: linear-gradient(147deg, color-mix(in srgb, var(--color-azul-100) 50%, transparent), color-mix(in srgb, var(--color-azul-800) 100%, transparent)), url('../images/sky-montain.png') center / cover;
 /* background: linear-gradient(147deg, color-mix(in srgb, var(--color-azul-100) 50%, transparent), color-mix(in srgb, var(--color-azul-800) 100%, transparent)), url('../images/sky-montain.png') center / cover; */
 display: flex;
 align-items: center;
 justify-content: center;
}

.otherPages {
 min-height: 60dvh !important;
 padding-block: 64px;
 align-items: flex-end !important;
 justify-content: start !important;

 .header__content {
  max-width: 67ch;
  align-items: start !important;
  justify-content: start !important;
  text-align: left;
  gap: 8px;
 }

}

.header__content {
 width: min(90%, 791px);
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 24px;
}

.header__title {
 font-size: clamp(var(--fzxl), 3vw + .5rem, var(--fzbig));
 color: var(--color-azul-900);
 font-weight: normal;
 /* margin-block: .4em; */
 opacity: 0;
 animation: fadeLeft .5s .25s ease-in-out forwards;
}

.header_subtitle {
 font-size: clamp(var(--fzm), 2vw + .5rem, var(--fzl));
 color: var(--color-white);
 font-family: var(--ff1);
 opacity: 0;
 animation: fadeLeft .5s .5s ease-in-out forwards;
}

@keyframes fadeLeft {
 from {
  opacity: 0;
  translate: -100px;
 }

 to {
  opacity: 1;
  translate: 0px;
 }
}

/* #endregion //! header */
/*------------------------------------------------*/
/* #region //* slider */
.sliderButtons {
 display: flex;
 margin-top: 1em;
 gap: 2em;

 .slider__arrowLeft,
 .slider__arrowRight {
  rotate: 180deg;
  height: 40px;
  width: 40px;
  aspect-ratio: 1/1;
  cursor: pointer;

  /* background-color: color-mix(in srgb, var(--color-white) 50%, transparent);
border-radius: 100%;
fill: #fff; */

  &:hover {
   scale: 1.2;
  }
 }

 .slider__arrowRight {
  rotate: 0deg;
 }
}

.sectionAPI__sliderArea {
 position: relative;
 /* width: 57%; */
 max-width: 90vw;
 overflow: hidden;
 overflow-x: scroll;
 scrollbar-width: none;
 scroll-snap-type: x mandatory;
 scroll-behavior: smooth;
 -webkit-overflow-scrolling: touch;


 @media screen and (min-width: 768px) {
  width: 57%;
  max-width: 80vw;
  /* translate: 8vw; */

 }




 .sectionAPI__slider {
  /* overflow-x: auto; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  translate: 0;

 }

 .sectionAPI__sliderItem {
  scroll-snap-align: start;
  width: 388px;
  flex-shrink: 0;
  flex: 0 0 70%;
  aspect-ratio: 1/1;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), var(--image_thumb) center / cover no-repeat;
  border-radius: var(--borde-radius);

  padding: 1.5rem;
  color: var(--color-neutro-bg);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
   flex: 0 0 40%;
  }


  .sectionAPI__sliderItem__title {
   text-transform: capitalize;
   font-size: clamp(var(--fzl), 2vw + .5rem, var(--fzx));
  }

  .sectionAPI__sliderItem__subTitle {
   text-transform: capitalize;
   font-size: clamp(var(--fzm), 2vw + .5rem, var(--fzm));
   flex-grow: 1;
  }

  .temperature {
   font-family: var(--ff1);
   font-size: clamp(var(--fzx), 2vw + .5rem, var(--fzx));
  }
 }

}



/* #endregion //! slider */

/*------------------------------------------------*/
/* #region //* sectionAPI */
.section {
 min-height: 100dvh;

}

.sectionAPI {

 background: linear-gradient(147deg, color-mix(in srgb, var(--color-neutro-bgDark) 90%, transparent), color-mix(in srgb, var(--color-neutro-bgDark) 90%, transparent)), var(--image_thumb) center / cover;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 justify-content: space-between;
 overflow: hidden;

 .sectionAPI__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-block: 64px;
  gap: 2rem;

  @media (min-width: 768px) {
   flex-direction: row;
  }
 }

 .sectionAPI__textContent {
  position: relative;

  &::after {
   content: '';
   width: 50px;
   aspect-ratio: 1/1;
   /* height: 40px; */
   background: url('../icons/compass.png') center /cover no-repeat;
   top: 89%;
   left: 137px;
   position: absolute;
   color: white;
   rotate: attr(data-rotate deg);
   transition: rotate .3s ease-in-out;

   @media screen and (min-width: 768px) {
    width: 80px;
    right: -100px;
    top: 0;
    left: auto;

   }
  }
 }

 .sectionAPI__title {
  font-size: clamp(var(--fzbig), 2vw + .5rem, var(--fzbig));
  color: var(--color-neutro-bg);
  text-transform: capitalize;
 }

 .sectionAPI__subTitle {
  font-family: var(--ff2);
  font-size: clamp(var(--fzxl), 2vw + .5rem, var(--fzxl));
  color: var(--color-neutro-bg);
 }

 .sectionAPI__description {
  /* --urlImg: url('http://openweathermap.org/img/wn/02n@2x.png'); */
  text-transform: capitalize;
  font-family: var(--ff2);
  font-size: clamp(var(--fzm), 2vw + .5rem, var(--fzm));
  color: var(--color-neutro-lighter);
  font-weight: bold;

  &::after {
   content: '';
   display: inline-block;
   width: 40px;
   vertical-align: bottom;
   aspect-ratio: 1/1;
   background: var(--urlImg) center/cover no-repeat;
  }
 }

 .sectionAPI__list {
  font-family: var(--ff2);
  font-size: clamp(var(--fzm), 2vw + .5rem, var(--fzm));
  color: var(--color-neutro-lighter);
 }

}

.weatherDetails {
 background-color: var(--color-azul-900);
 width: 100%;
 padding-block: 64px;

 .weatherDetails__title {
  max-width: max-content;
  color: var(--color-neutro-bg);
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, var(--color-neutro-bg) 50%, transparent);
  text-underline-offset: 10px;

  @media screen and (max-width: 768px) {
   margin-inline: auto;
   margin-bottom: .5em;
  }
 }

 .weatherDetails__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media screen and (min-width: 768px) {
   flex-direction: row;
  }


 }

 .weatherDetails__temperature {
  font-size: clamp(var(--fzbig), 2vw + .5rem, var(--fzbig));
  font-family: var(--ff1);
  color: var(--color-neutro-bg);

  &::before {
   content: '';
   display: inline-block;
   background: var(--urlImg) center/cover no-repeat;
   vertical-align: text-top;
   margin-top: .2em;
   width: 1em;
   aspect-ratio: 1/1;
  }


 }

 .weatherDetails__days {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
   justify-content: flex-start;
   border-top: 1px solid var(--color-neutro-bg);
   padding-top: 2em;
   width: 100%;
   overflow: auto;
   scrollbar-width: none;
  }


  &::before {
   content: '';
   display: inline-block;
   height: 70px;
   width: 1px;
   background: color-mix(in srgb, var(--color-white) 50%, transparent);
   margin-right: 2rem;

   @media screen and (max-width: 768px) {
    display: none;
   }
  }
 }

 .weatherDetails__daysList {
  display: flex;
  gap: 2rem;
  justify-self: flex-start;
  align-self: flex-start;

  @media screen and (max-width: 768px) {
   gap: 2.3rem;
   justify-content: start;
   align-items: flex-start;
  }
 }

 .weatherDetails__day {
  color: var(--color-neutro-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 105px;

  img {
   width: 100%;
   max-width: 60px;
  }
 }

 .weatherDetails__dayName {
  font-size: clamp(var(--fzm), 2vw + .5rem, var(--fzm));
  font-family: var(--ff1);
 }

 .weatherDetails__dayTemperature {
  font-size: clamp(var(--fzm), 2vw + .5rem, var(--fzm));
  font-family: var(--ff1);
  font-weight: normal;
 }
}

/* #endregion //! sectionAPI */

/*------------------------------------------------*/
/* #region //* NewsLetter */
.newsletter {
 background-color: var(--color-clima-accent);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 min-height: auto;

 padding-block: 100px;


 .newsletter__title {
  font-family: var(--ff2);
  text-transform: uppercase;
  font-size: clamp(var(--fzl), 2vw + .5rem, var(--fzx));
  color: var(--color-neutro-bg);
  margin-bottom: .5em;
 }

 .newsletterInput {
  padding: .9em;
  border-radius: 20px;
  width: min(90%, 740px);

  &::placeholder {
   text-align: center;
   opacity: 0.5;
  }
 }
}


/* #endregion //! NewsLetter */


/*------------------------------------------------*/
/* #region //* Footer */

.footer {
 background: #2A7B9B;
 background: linear-gradient(180deg, var(--color-azul-900) 20%, var(--color-neutro-bgDark) 120%);
 padding-top: 100px;

 >div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
 }

 .footer__textContent {
  color: var(--color-neutro-bg);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .footer__subTitle {
  text-transform: uppercase;
  font-size: clamp(var(--fzm), 2vw + .5rem, var(--fzm));
 }

 .footer__title {
  font-family: var(--ff2);
  font-weight: 500;
  text-transform: uppercase;
  font-size: clamp(var(--fzxxl), 2vw + .5rem, var(--fzbig));
  margin-bottom: .2em;
  line-height: 1;

  @media screen and (max-width: 768px) {
   max-width: 13ch;
  }
 }

 .btn {
  margin-bottom: 3em;

  &::before {
   display: none;
  }
 }

 .footer__img {
  width: min(90%, 300px);
 }

 .footer__bottomBanner {
  background-color: #181818;
  padding-block: 64px;

  margin-top: 100px;

  @media screen and (min-width: 768px) {
   padding-block: 32px;

  }


  &>div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: var(--color-neutro-bg);
   gap: 2rem;

   @media screen and (min-width: 768px) {
    align-items: center;
    flex-direction: row;
   }
  }

  .footer__menuList {
   display: flex;
   gap: 1rem;
   flex-direction: column;
   text-transform: uppercase;
   font-family: var(--ff2);
   font-weight: 500;

   @media screen and (min-width: 768px) {
    flex-direction: row;

   }
  }

  .footer__menuItem {}

  .footer__rights {
   position: relative;
   text-transform: uppercase;
   font-family: var(--ff2);
   font-weight: 500;

   .rights {
    text-decoration: underline;
    text-underline-offset: 3px;
   }

   &::before {
    position: absolute;
    top: -20px;
    content: '';
    height: 1px;
    width: 50px;
    background: currentColor;
    display: block;

    @media screen and (min-width: 768px) {
     display: none;
    }
   }

  }
 }
}

/* #endregion //! Footer */

/*------------------------------------------------*/
/* #region //* customClases */



.hidden {
 opacity: 0.5;
 user-select: none;
 cursor: initial;
 pointer-events: none;
}

.temperature {
 &::after {
  content: '°C';
 }
}

.flexGrow {
 flex-grow: 1;
 display: flex;
}

/* #endregion //! customClases */